<!DOCTYPE html>
<head>
	<title>登录</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="__STATIC__/assets2/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="__STATIC__/assets2/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="__STATIC__/assets2/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
	<link href="__STATIC__/assets2/css/bootstrap-social.css" rel="stylesheet" type="text/css">	
	<link href="__STATIC__/assets2/css/templatemo_style.css" rel="stylesheet" type="text/css">	
</head>
<body class="templatemo-bg-image-1">
	<div class="container">
		<div class="col-md-12" style="margin-top: 100px;margin-left:30%; width: 500px;">			
			<form class="form-horizontal templatemo-login-form-2" role="form" action="{:url('denglu')}" method="post">
				<div class="row">
					<div class="col-md-12">
						<h1>登录</h1>
					</div>
				</div>
				<div class="row">
				        <div class="form-group">
				          <div class="col-md-12">		          	
				            <label for="username" class="control-label">用户名</label>
				            <div class="templatemo-input-icon-container">
				            	<i class="fa fa-user"></i>
				            	<input type="text" class="form-control" id="username" placeholder="" name="username">
				            </div>		            		            		            
				          </div>              
				        </div>
				        <div class="form-group">
				          <div class="col-md-12">
				            <label for="password" class="control-label">密码</label>
				            <div class="templatemo-input-icon-container">
				            	<i class="fa fa-lock"></i>
				            	<input type="password" class="form-control" id="password" placeholder="" name="password">
				            </div>
				          </div>
				        </div>
				        <div class="form-group" style="margin-top: 40px;">
				          <div class="col-md-12">
				            <input type="submit" value="登 录" class="btn btn-warning">
				          </div>
				        </div>
				        <div class="form-group">
				          	<div class="col-md-12">
				        		<a href="{:url('register')}" class="text-center">注册账号</a>
				       	 	</div>
				    	</div>					 
				</div>				 	
		      </form>		      		      
		</div>
	</div>
</body>
</html>